*.pyc
*.bat
*.sh
*.po 

# Git
.git/

# VS Code
.vscode/

# log file
code/logs.txt

# settings files
code/settings/connection_settings.json
code/settings/server_backup_settings.json

# global variables
code/settings/config.py

# data
data/

# ruff & uv
.ruff_cache/
.venv/
.python-version
uv.lock
