*.pyc
*.bat
*.sh
*.po 

# Git
.git/

# VS Code
.vscode/

# log file
src/logs.txt

# settings and task list files
src/settings/connection_settings.json
src/settings/server_backup_settings.json
src/settings/monitoring_task_list.txt

# global variables
src/settings/config.py

# data
data/

#logs
logs/

# ruff & uv
.ruff_cache/
.venv/
.python-version
uv.lock
