*.pyc
*.bat
*.sh
*.po 
*.lck

# Build and cache files
dist
*.egg-info
**/__pycache__

# Git
.git/

# VS Code
.vscode/

# log file
gemeaspy/logs.txt
*.log
**/logs.txt

# settings and task list files
gemeaspy/settings/connection_settings.json
gemeaspy/settings/server_backup_settings.json
gemeaspy/settings/monitoring_task_list.txt

# global variables
gemeaspy/settings/config.py

# data
test_data/

# ruff & uv
.ruff_cache/
.venv/
.python-version
uv.lock

#ACTS
bin/ACTS/acts.log.lck
bin/ACTS/LastOpenedFiles.xml